
.form-control-game{
    margin: 20px;
    width: 50%;
    height: 30px;
}

.tHeader{
    font-size: 20px;
}

.game{
    height: 50px;
}

.rowsGame {
    vertical-align:50%;
    height: 10%;
    font-size: 20px;

}

.gamedanger{
    margin-left: 14%;
    width: 200px;
    height: 75px;
    font-size: 30px;
    color: white;
    background-color: red;
}

.game{
    position: relative;
    margin-left: 18%;
    width: 200px;
    height: 75px;
    font-size: 30px;
    color: white;
    background-color:#2F4F4F;
}