
.form_out {
    background-image: url('owl.png');
}


.out{
    position: relative;
    margin-left: 14%;
    width: 200px;
    height: 75px;
    font-size: 30px;
    color: white;
    background-color:#2F4F4F;
}